@tailwind base;
@tailwind components;
@tailwind utilities;

html { -webkit-text-size-adjust: 100%; }
body { margin: 0; background: #0f1115; }

/* Quitar flechas de los inputs numéricos en escritorio/iOS */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button { -webkit-appearance: none; margin: 0; }
